---
import "../styles/style.css";

import Info1 from '../components/Info1.astro';
import Info2 from '../components/Info2.astro';
import Image from '../components/Image.astro';
import Card from '../components/Card.astro';
import Statistics from '../components/Statistics.astro';

---
<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>


<header>
    <img src="../img/logo.webp" alt="">

</header>

	<main>
		<article id="landing">
			<video autoplay muted loop>
				<source src="../img/video.webm" type="video/webm">
			  </video>
			  <div class="text_info">
				<h1>DU ER ALTID GOD NOK</h1>
				<p>- Men vi er her, nar du bliver i tvivl. Hos os kan 
					du dele dine tanker, lase eller lytte til andres. 
					Vi er her for dig.</p>
			  </div>
		</article>

		<article class="about">
			<div class="about_text">
				<h2>INGEN PIGER SKAL MISTRIVES</h2>
				<p class="archivo2">I GirlTalk arbejder vi for at forebygge mistrivsel blandt piger og unge kvinder, styrke deres selvvard og hjalpe dem, der har det svart.</p>
			</div>
			<div class="link_cards">
				<Card locationId="#girls" src="../img/chat_icon.svg" text="Hvad kan du fa ud af Girltalk?"></Card>
				<Card locationId="#volunteers" src="../img/hands_icon_red.svg" text="Hvordan kan du blive en del af fallesskabet?"></Card>
				<Card locationId="#parents" src="../img/learn2_icon_red.svg" text="Hvordan kan du stotte dit eget barn?"></Card>
			</div>
		</article>

		<div id="girls"></div>
		<Image imgUrl="url(img/girls.webp)" headline="Hvad kan du fa ud af Girltalk? ">
			<Info1 containerClass="pink_box" src="../img/chat_icon.svg" text="Pa GirlTalk er vi her for dig! Vi onsker at stotte dig gennem de udfordringer, du matte sta overfor. Vores chatradgivning er tilgengelig 24/7, sa du kan fa personlig stotte og radgivning, nar du har brug for det."></Info1>
			<Info2 containerClass="pink_box" src="../img/group_icon.svg" text="Vores fysiske fællesskaber er et sted, hvor du kan møde ligesindede piger og styrke din selvudvikling. Lad os være din støtte gennem trivselsudfordringerne og hjælpe dig med at opdage din styrke og værdi."></Info2>
			<Info1 containerClass="pink_box" src="../img/learn_icon.svg" text="Vores vidensunivers er fyldt med information og ressourcer om trivsel, mental sundhed og selvudvikling. Find artikler, podcasts og meget mere for at hjælpe dig på din rejse mod trivsel og velvære."></Info1>
		</Image>

		<Statistics circle1="180deg" circle2="190.8deg" circle3="93.6deg" procentage1="50%" procentage2="53%" procentage3="26%" text1="af piger i 9. klasse har lavt selvværd" text2="af piger i 9. klasse er ofte kede af det" text3="af unge har følt sig udenfor på de sociale medier" backgroundColor="var(--Soft_tears_blue)"></Statistics>

		<div id="volunteers"></div>
		<Image imgUrl="url(img/volunteer.webp)" headline="Hvordan kan du blive en del af fællesskabet?">
			<Info1 containerClass="white_box" src="../img/hands_icon_blue.svg" text="Bliv frivillig hos GirlTalk og tilbyd din tid og støtte til at hjælpe dem, der har brug for det. Gennem vores chatrådgivning og lokale fællesskaber kan du være med til at skabe en positiv forandring i livet for unge kvinder."></Info1>
			<Info2 containerClass="white_box" src="../img/group2_icon.svg" text="Deltag i vores sociale arrangementer og mød andre frivillige i GirlTalk-fællesskabet. Sammen kan vi støtte og inspirere hinanden til at gøre en positiv forskel i verden."></Info2>
			<Info1 containerClass="white_box" src="../img/mentor_icon.svg" text="Bliv en mentor for unge piger og del dine erfaringer og vejledning. Som mentor kan du være en betydningsfuld rollemodel og hjælpe pigerne med at navigere i livets udfordringer."></Info1>
		</Image>

		<Statistics circle1="123.84deg" circle2="187.2deg" circle3="248.4deg" procentage1="34,4%" procentage2="52%" procentage3="69%" text1="af kvinder i alderen 16 til 24 år har et dårligt mentalt helbred" text2="af 16-24-årige kvinder oplever et højt stressniveau" text3="af unge piger oplever, at de bruger for meget tid på meningsløs 'scrollen' på deres mobiltelefon" backgroundColor="var(--Pure_white)"></Statistics>

		<div id="parents"></div>
		<Image imgUrl="url(img/parent.webp)" headline="Hvordan kan du støtte dit eget barn?">
			<Info1 containerClass="blue_box" src="../img/learn2_icon_pink.svg" text="Hos GirlTalk tilbyder vi rådgivning og støtte til forældre, der ønsker det bedste for deres børn. Vores telefonrådgivning og brevkasse giver dig mulighed for at få ekspertrådgivning om alt fra forældreskab til ungdomsproblemer."></Info1>
			<Info2 containerClass="blue_box" src="../img/hands2_icon.svg" text="Tag del i vores informative forældreforedrag og få indsigt i aktuelle emner inden for ungdomsudvikling. Vores arrangementer giver dig mulighed for at lære mere om, hvordan du bedst støtter dit barn gennem de udfordringer, de står overfor."></Info2>
			<Info1 containerClass="blue_box" src="../img/talk_icon.svg" text="Følg os på sociale medier og tilmeld dig vores nyhedsbreve for at få opdateringer om vores aktiviteter og ressourcer til forældre. Vi holder dig informeret og rustet til at tackle de udfordringer, du står overfor som forælder."></Info1>
		</Image>

		<Statistics circle1="84.24deg" circle2="169.2deg" circle3="241.2deg" textColor="white" procentage1="5timer 37min" procentage2="47%" procentage3="67%" text1="bruger piger i alderen 13-16 år i gennemsnit dagligt på deres mobiltelefon" text2="af unge føler sig presset ift. at se godt ud på de sociale medier" text3="af unge mener, at de sociale medier påvirker selvtilliden negativt" backgroundColor="var(--Power_blue)"></Statistics>

	</main>
	</html>
