---
const { headline, imgUrl } = Astro.props;
---

<article>
    <h3>{headline}</h3>
    <div class="info_boxes">
        <slot />
    </div>
</article>

<style define:vars={{imgUrl}}>
article {
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: var(--imgUrl);

}

h3 {
    width: 90vw;
    max-width: 650px;
    grid-column: 1/5;
    margin: auto;
    padding: 50vh 0 0 0;
}

.info_boxes {
    display: flex;
    flex-direction: column;
    gap: 100vh;
    padding: 100vh 0;
}


</style>