---
const { src, text, containerClass } = Astro.props;
---

<div class={containerClass}>
    <img src={src}>
    <p class="archivo3">{text}</p>
</div>

<style>
div {
    width: 90vw;
    max-width: 650px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
    align-items: center;
    border-radius: 10px;

    grid-column: 1/5;
    margin: auto;
}

img {
    width: 120px;
}

</style>
